In [1]:
import pandas as pd

In [8]:
# To load the dataset in a Pandas DataFrame, enter the code below. Be sure to use the path to the stored CSV file
# (stored in an easy-to-access location): MODEL stat : data = Path('../Resources/cc_default.csv')

file_path = "./Resources/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
# Drop the class field using the code below:
new_iris_df = iris_df.drop(['class'],axis = 1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
#To check the type of data
new_iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [6]:
# Reset DataFrame with columns in desired order
# df = df[['names','Score','Room','Grade','Teacher','Hobby']]
new_iris_changed_df = new_iris_df[['sepal_length','petal_length','sepal_width','petal_width']]
new_iris_changed_df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [7]:
# transformed file is stored as a csv
output_file_path = "./Resources/new_iris_data.csv"
new_iris_changed_df.to_csv(output_file_path, index=False)

In [ ]:
Iris