# Students Do: Understanding customers

## Instructions

You are given a dataset that contains historical data from purchases of an online store made by 200 customers. In this activity you will put in action your data preprocessing superpowers, also you'll add some new skills needed to start finding customers clusters.

In [3]:
# Initial imports
import pandas as pd
from pathlib import Path
file_path = Path("../Resources/shopping_data.csv")

Load the data into a Pandas DataFrame, name it as `df_shopping` and fetch the top 10 rows.

In [4]:
df = pd.read_csv(file_path)
df.head()

   CustomerID Previous Shopper  Age  Annual Income  Spending Score (1-100)
0           1              Yes   19          15000                      39
1           2              Yes   21          15000                      81
2           3               No   20          16000                       6
3           4               No   23          16000                      77
4           5               No   31          17000                      40

List the DataFrame's data types to ensure they're aligned to the type of data stored on each column.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Previous Shopper        200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income           200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

**Question 1:** Is there any column whose data type need to be changed? If so, make the corresponding adjustments.

**Question 2:** Is there any unnecessary column that needs to be dropped? If so, make the corresponding adjustments.

In [10]:
# remove CustomerID 
df_noCustomerID  = df.drop(columns = ["CustomerID"])
df_noCustomerID.head()

  Previous Shopper  Age  Annual Income  Spending Score (1-100)
0              Yes   19          15000                      39
1              Yes   21          15000                      81
2               No   20          16000                       6
3               No   23          16000                      77
4               No   31          17000                      40

In [12]:
#find null values
for column in df_noCustomerID.columns:
    print(f"Column{column} has {df_noCustomerID[column].isnull().sum()}")

ColumnPrevious Shopper has 0
ColumnAge has 0
ColumnAnnual Income has 0
ColumnSpending Score (1-100) has 0

In [13]:
# find duplicates
print(f"Column{column} has {df_noCustomerID.duplicated().sum()}")

ColumnSpending Score (1-100) has 0

In [15]:
def change_string(member):
    if member =="Yes":
        return 1
    else:
            return 0
df_noCustomerID["Previous Shopper"] = df["Previous Shopper"].apply(change_string)
df_noCustomerID.head()

   Previous Shopper  Age  Annual Income  Spending Score (1-100)
0                 1   19          15000                      39
1                 1   21          15000                      81
2                 0   20          16000                       6
3                 0   23          16000                      77
4                 0   31          17000                      40

In [16]:
# transform annual income
df_noCustomerID["Annual Income"] = df_noCustomerID["Annual Income"]/1000
df_noCustomerID.head()

   Previous Shopper  Age  Annual Income  Spending Score (1-100)
0                 1   19           15.0                      39
1                 1   21           15.0                      81
2                 0   20           16.0                       6
3                 0   23           16.0                      77
4                 0   31           17.0                      40

In [17]:
file_path = Path("../Resources/shopping_data_clean.csv")
df_noCustomerID.to_csv(file_path,index = False)